# Node.js
node_modules/
npm-debug.log
.env

# React App specific (Vite)
react-mockup-generator/dist/
react-mockup-generator/node_modules/

# Backend specific
mockup-generator-api/node_modules/
mockup-generator-api/npm-debug.log

# macOS
.DS_Store

# VS Code
.vscode/
